* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Faustina&display=swap');
::-moz-selection {
    /* Code for Firefox */
    color: #fff;
    background: red;
}

#admin-login {
    background-image: url(../../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    padding-top: 6%;
}

#admin-login .container .admin-login-content {
    width: 420px;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(38, 39, 39);
    border: 7px solid rgb(143, 143, 141);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 0px 0px 40px -10px rgba(0, 0, 0, 0.83);
}

#admin-login .container .admin-login-content .avator {
    text-align: center;
    margin-top: -80px;
}

#admin-login .container .admin-login-content .avator img {
    width: 110px;
    border: 7px solid rgb(102, 102, 101);
    border-radius: 50% 50% 50% 50%;
    padding: 5px;
    background: rgb(209, 209, 209);
}

#admin-login .container .admin-login-content .avator h2 {
    font-size: 25px;
    color: rgb(143, 143, 141);
    padding-bottom: 15px;
    font-family: 'Faustina', serif;
}

#admin-login .container .admin-login-content .admin-login-text input:focus {
    outline: 0;
}

#admin-login .container .admin-login-content .admin-login-text label {
    color: rgb(143, 143, 141);
    font-size: 16px;
}

#admin-login .container .admin-login-content .admin-login-text input {
    width: 100%;
    padding: 8px;
    border: 2px solid rgb(178, 178, 179, .1);
    border-radius: 4px;
    outline: none;
    background: transparent;
    margin: 5px 0 15px;
    font-size: 14px;
    font-family: 'Faustina', serif;
    color: rgb(143, 143, 141);
}

#admin-login .container .admin-login-content .admin-login-text form span {
    color: red;
}


/*++++++++Checkbox+++++++*/

#admin-login .container .admin-login-content .admin-login-text .check-box-div {
    margin-bottom: 10px;
}

#admin-login .container .admin-login-content .admin-login-text .check-box-div .label {
    font-size: 18px;
    position: relative;
    cursor: pointer;
    padding-left: 25px;
}

#admin-login .container .admin-login-content .admin-login-text .check-box-div .checkbox {
    position: absolute;
    left: -999px;
}

#admin-login .container .admin-login-content .admin-login-text .check-box-div .label::before {
    content: "";
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 2px;
    width: 12px;
    height: 12px;
}

#admin-login .container .admin-login-content .admin-login-text .check-box-div .label::after {
    content: "\2713";
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    font-weight: bolder;
    display: inline-block;
    position: absolute;
    top: -2px;
    left: 5px;
    transform: scale(0);
    transition: transform 0.2s linear;
}

#admin-login .container .admin-login-content .admin-login-text .check-box-div .checkbox:checked+.label:after {
    transform: scale(1);
}


/*+++++++++++++Log in++++++++++++*/

#admin-login .container .admin-login-content .admin-login-text input[type="submit"] {
    width: 100%;
    margin-bottom: 15px;
}

#admin-login .container .admin-login-content .admin-login-text .login-btn input {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    background: rgb(64, 64, 65);
    border: none;
    opacity: .7;
    color: #fff;
    transition: .5s;
    cursor: pointer;
    padding: 10px;
    font-family: 'Faustina', serif;
}

#admin-login .container .admin-login-content .admin-login-text .login-btn input:hover {
    opacity: 1;
    color: #fff;
}


/*++++++++++++register-reset+++++++++++++*/

#admin-login .container .admin-login-content .admin-login-text .register-reset {
    margin-top: 25px;
}

#admin-login .container .admin-login-content .admin-login-text .register-reset span {
    text-decoration: none;
    color: rgb(233, 233, 229);
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    opacity: .5;
    padding-left: 3px;
    font-family: 'Faustina', serif;
}

#admin-login .container .admin-login-content .admin-login-text .register-reset a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    opacity: .5;
    padding-left: 3px;
    font-family: 'Faustina', serif;
}

#admin-login .container .admin-login-content .admin-login-text .register-reset a:hover {
    opacity: 1;
    color: #fff;
}